* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #836FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  display: block;
  text-decoration-line: none;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #3CB371;
  margin: 0 15px;
  padding: 10px 15px;
  overflow: hidden;
  border: solid #483D8B;
  border-radius: 100px;
  position: relative;
   box-shadow: 7px 7px 7px #228B22;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #228B22;
  z-index: -1;
  transition: 0.7s ease;
}

.btn1:before {
  width: 0;
  height: 100%;
}
.btn1:hover:before {
  width: 101%;
}
